.movie_div {
  background-color: #303030;
  color: white;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  background-size: cover;
}

.movies {
  width: 100%;
  max-width: 1200px;
}

.movies_header {
  /* color: #ffcc00; */
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.user_buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user_admin_buttons {
  display: flex;
  gap: 10px;
}

.movies_header_select {
  background-color: #404040;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.movie_list {
  list-style: none;
  padding-left: 0;
}

.movie_title {
  font-size: 1.2rem;
  /* color: #ffcc00; */
  cursor: pointer;
  margin-bottom: 10px;
}

.movie_details {
  margin-left: 20px;
}

.movie_buttons_flex {
  display: flex;
  gap: 10px;
}

.movie_buttons {
  background-color: #007bff;
  border: none;
}

.movie_buttons:hover {
  background-color: #0056b3;
}

.purchase_tickets, .view_tickets {
  margin-top: 10px;
}

/* h1, h3 {
  color: #ffcc00;
} */

h1 {
  text-align: center;
}

h3 {
  margin-bottom: 20px;
}

.movies_header_select {
  width: 100%;
  padding: 10px;
  background-color: #505050;
  color: white;
  border: 1px solid #ffcc00;
  border-radius: 5px;
}
