.search_movie_div {
  background-color: #303030;
  color: white;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.movie_title {
  padding-top: 10px;
  list-style-type: none;
}

.search_movie_details {
  max-width: 225px;
  margin-left: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  border-left: 2px solid #ff6347;
  margin-top: 10px;
}

.movie_list {
  list-style-type: none;
}

.top_features {
  display: flex;
  justify-content: center;
}

.view_tickets {
  padding-top: 7px;
}

.search_input {
  border-radius: 5px;
}

.return_button {
  margin-left: 5px;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
}