.status_report_container_sr {
  background-color: #303030;
  color: white;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  background-size: cover;
}

.status_report_button_sr {
  margin-top: 15px;
  padding: 10px 20px;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
}

.location_list_sr, .status_report_div {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #6b6b6b;
  border: 3px solid black;
  border-radius: 20px;
  list-style-type: none;
  margin-top: 20px;
}

.status_report_div {
  background-color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location_list_sr li {
  margin-bottom: 15px;
}

.location_title_sr {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 10px 0;
}

.movie_details_sr {
  background-color: #ababab;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px;
  margin-top: 10px;
  color: black;
}

.movie_title_sr {
  font-weight: bold;
  font-size: 1rem;
  color: black;
  padding: 5px 0;
}

.movie_list_sr {
  margin-top: 10px;
}

.tickets_sold {
  font-size: 1.65rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #6b6b6b;
  padding: 10px;
  margin: 10px;
  border: 3px solid black;
  border-radius: 15px;
}

.location_info_sr {
  background-color: #ababab;
  border-radius: 15px;
  border: 2px solid black;
  padding: 15px;
  margin-top: 10px;
  color: black;
}

.current_movie_p_tag {
  font-weight: bold;
  font-size: 1.35rem;
}

.movies_playing_at_loc_sr {
  margin-left: 20px;
}

.status_movie_info {
  font-size: 1.35rem;
}

.status_loading {
  font-size: 1.35rem;
  margin-top: 20px;
}