.update_theater_top_div_s {
  background-color: #303030;
  color: white;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  background-size: cover;
}

.update_theater_div_s {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.update_theater_button_s {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  width: 25%;
  min-width: 150px;
}

.update_theater_form_s {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: #6b6b6b;
  border: 3px solid black;
  border-radius: 20px;
  margin-top: 20px;
}

.update_theater_label_s,
.update_theater_label {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  padding: 10px 0;
  transition: color 0.3s ease;
  color: black;
}

.update_theater_label_s {
  font-size: 2rem;
}

.update_theater_label {
  color: black;
}

.update_theater_select_s {
  font-size: 1rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
}

.update_theater_option_s {
  color: black;
}

.update_theater_movie_details {
  background-color: #ababab;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px;
  margin-top: 10px;
  color: black;
}

.update_theater_movie_title {
  font-weight: bold;
  font-size: 1rem;
  color: black;
  padding: 5px 0;
}

.update_theater_h1_s {
  color: #ff3333;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.update_theater_container_s {
  background-color: #444;
  padding: 20px;
  border: 3px solid black;
  border-radius: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  width: 100%;
}

.inner_stuff_s {
  background-color: #ababab;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px;
  margin-top: 10px;
  height: 450px;
  overflow-y: auto;
}
