.top_login_div {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #303030;
}

.user_login {
  width: 25%;
  min-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.login_input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user_lr_buttons {
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
}