.App-header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal {
  display: block !important; /* Ensure the modal is visible */
  opacity: 1 !important; /* Ensure opacity is set */
  z-index: 1050 !important; /* Ensure it's above other elements */
}
